.navbar {
  display: flex;
  padding: 5px 30px 0px 30px;
  justify-content: space-between;
  align-items: center;
  font-family: "Inter";
}

.navbar_logo {
  font-weight: bold;
}

.navbar_menu {
  color: black;
  display: flex;
  justify-content: center;
  gap: 15px;
  list-style-type: none;

  p {
    a {
      color: black;
      text-decoration: none;
    }
  }
}

.navbar_action {
  font-size: 0.9em;
  background-color: black;
  color: white;
  padding: 8px 20px;
  border-radius: 15px;
}
