.blog {
  padding: 15px 30px;
  border-radius: 20px;
  font-family: "Alumni Sans";
  background-color: var(--blog-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog_text {
  color: var(--blog-text-color);
  h1 {
    margin: 0%;
    font-size: 60px;
  }
  p {
    margin: 0%;
  }
}

.blog_container_action {
  margin-bottom: 5px;
  display: flex;
  justify-content: end;
  align-content: space-between;
  width: 100%;

  .blog_action {
    padding: 4px;
    width: 40px;
    height: auto;
    background-color: black;
    border-radius: 100%;
  }
}
